<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/RegistrAPP.png" alt="RegistrAPP logo" class="logo">
  </div>
  <ion-content class="ion-padding">
    <div class="logo-container">
      <img src="assets/duoc-logo.png" alt="Duoc UC Logo" class="logo">
    </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="3" class="ion-text-center">
        <ion-button expand="block" color="dark" (click)="navigateToCCAlumno()" >Crear Cuenta Alumno</ion-button>
        <ion-button expand="block" color="dark" (click)="navigateToIAlumno()">Ingreso Alumno</ion-button>
        <ion-button expand="block" color="dark" (click)="navigateToCCDocente()" >Creación Cuenta Docente</ion-button>
        <ion-button expand="block" color="dark" (click)="navigateToIDocente()">Ingreso Docente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>